body {
    background-color: rgb(44, 50, 72);
}

nav ul {
    list-style: none;
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin-right: 0;
}
nav ul li a{
    color:rgb(255, 255, 255); ;
    font-size: 24px;
    margin-right: 1em;
    text-decoration: none;
}

.info-about > ul li {
    color: rgb(167, 171, 183);
    font-size: 24px;
    margin-bottom: 1em;
    list-style-type: none;
}



.about {
    display: flex;
}
.about-left{
    width: 40% ;
}

.about-right{
    width: 60% ;
}
.hello {
    font-size: 36px;
    color: rgb(167, 171, 183);
    margin-bottom: 9px;
}

h1 {
    font-size: 48px;
    color: rgb(255, 255, 255);
    margin-top: 9px;
}

.about-right{
    display: flexbox;
}
