#header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75px;
}

#navigator {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#navigator ul li {
    display: inline-block;
    margin-right: 0;
}

#nav-main{
    margin-right: 15px;
}

#navigator ul li a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-right: 1em;
    text-decoration: none;
}

#nav-main {
    height: 30px !important;
    padding-top: 15px;
    padding-bottom: 15px;
}

#otstyp {
    height: 75px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#navigator ul li:hover {
    transform: scale(1.05);
}

