body {
    background-color: rgb(44, 50, 72);
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#site {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    height: 100%;
    width: 100%;
}


.title_article {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(167, 171, 183);
    /* border-bottom: 2px solid orange;*/
    text-decoration: 2px solid orange;
    text-decoration-line: underline;
    text-underline-offset: 10px;
    margin-bottom: 5px;
    text-align: left;
    margin-top: 0px;
    padding-top: 0px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    font-weight:lighter !important;
}

#articles {
    align-self: center;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.article {
    display: inline-block;
    vertical-align: middle;
    width: 61%;
    margin-top: 40px;
    margin-bottom: 0px;
}

.text_article {
    color: rgb(167, 171, 183);
    font-size: 24px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;

}

.blog_photo {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 400px;
    width: 600px;
}

.border_end_article {
    height: 0px;
    border: 1px solid #A7ABB7;
}

.date_article_div {
    height: auto;
    width: 100%;
    margin-top: 10px;
}

.date_article {
    font-family: Arial, Helvetica, sans-serif;;
    font-style: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 0 0 0 0;
}

.table_article {
    color: rgb(167, 171, 183);
    font-size: 32px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

#blog_nav {
    text-decoration-line: underline !important;
    text-decoration: 3px solid #FFFFFF;
    text-underline-offset: 10px;
    margin-bottom: 10px;
}

.Indentation {
    margin-top: 10px;
    margin-bottom: 10px;
}

.video_blog_div{
    display: flex;
    justify-content: center;
}

.video_blog{
    height: 400px;
    width: 600px;
}

.link_direction, .link_direction:hover, .link_direction:visited, .link_direction:active{
    color: rgb(167, 171, 183);
    font-size: 24px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-color: white;
    text-decoration-line: underline;
}

#logo{
    margin-right: 15px;
    height: 50px !important;
    width: 70px;
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 300px;
}

#otstyp{
    height:100% !important;
}


