html {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(44, 50, 72);
    height: 100%;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

#site {
    height: 100%;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


#navigator ul li {
    display: inline-block;
    margin-right: 0;
}

#navigator ul li a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-right: 1em;
    text-decoration: none;
}

#menuBlock {
    width: 100%;
    height: 50px;
    background-color: rgb(167, 171, 183);
}


#menumain {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    height: 100%;
    width: 100%;
}

#menumain li {
    display: inline;
    height: 100%;
    width: 100%;
}

#menuBlock #menumain li a {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 40px;
    font-weight: 800;
    line-height: 49px;
    text-decoration: none;
    color: #000000;
}

#content_right {
    width: 100%;
    height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#content_directory {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#nav_content {
    width: 200px;
    height: auto;
    background-color: #C4C4C4;
    border-right: 1px solid black;
}

#content {
    width: 100%;
    height: auto;
    background-color: #C4C4C4;
}

#nav_table {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

#nav_table a {
    display: block;
    padding: 0 10px;
    font-family: 'Inter';
    color: black;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

#nav_table ul {
    display: none;
    position: absolute;
    top: 100%;
}

#nav_table>li {
    position: relative;
}

#nav_table>li:hover .sub_nav_table {
    display: block;
}

.sub_nav_table {
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    padding: 20px 0px 0px 0px;
}

#content_container {
    width: 90%;
    height: auto;
    padding-left: 40px;
}


#main_name_Article {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 5px;
    color: #000000;
}

#sub_name_Article {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
    color: #000000;
    margin: 0px 0px 0px 0px;
}

.text_article {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.code_block {
    background: #2C3248;
    border-radius: 5px;
}

.gutter {
    width: 13px;
    border-right: 8px solid #D63869;
}

code {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #A7ABB7;
}

.Indentation {
    margin-bottom: 10px;
    margin-top: 10px;
}

.dividing_line {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid black;
}

.sub_subject {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.img_article {
    width: 400px;
    height: 400px;
    margin: 0px 0px 0px 0px;
}

.code_table {
    padding-top: 5px;
    padding-bottom: 5px;
}

#nav_bottom {
    text-align: center;
}

#nav_bottom a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin-left: 5px;
    margin-right: 5px;
}