body {
    background-color: rgb(44, 50, 72);
}

#site {
    height: 100%;
    width: 100%;
}

#header {
    display: flex;
    justify-content: space-between;
}



#navigator ul li {
    display: inline-block;
    margin-right: 0;
}

#navigator ul li a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-right: 1em;
    text-decoration: none;
}

.title_article {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 40px;
    border-bottom: 2px solid orange;
    margin-bottom: 20px;
    text-align: left;
    margin-top: 0px;
    padding-top: 0px;
}

#articles {
    align-self: center;
    margin: 0 auto;
    text-align: center;
    margin-top: 64px;
}

.article {
    display: inline-block;
    vertical-align: middle;
    width: 61%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.text_article {
    color: rgb(167, 171, 183);
    font-size: 32px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: left;
    font-family: 'Montserrat';

}

.blog_photo {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.border_end_article {
    height: 0px;
    border: 1px solid #A7ABB7;
}

.date_article_div {
    height: auto;
    width: 100%;
}

.date_article {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 0 0 0 0;
}