body {
    background-color: rgb(44, 50, 72);
    height: 100%;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

#site {
    height: 100%;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}



#portfolio_nav {
    text-decoration-line: underline !important;
    text-decoration: 3px solid #FFFFFF;
    text-underline-offset: 10px;
    margin-bottom: 10px;
}

#content {
    width: 100%;
    height: 100%;
    display: ce;
}


#content_container {
    margin: auto;
    margin-top: 30px;
    width: 60%;
    height: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project_block {
    width: 240px;
    height: 275px;
    margin-left: 10px;
    margin-right: 10px;
}

.project_block:hover {
    transform: scale(1.1);
}

.project_block a,
a.text:active,
a.text:hover,
a.text:visited,
a:visited {
    color: black;
    text-decoration: none;
}


.project_img_div {
    height: 70%;
    width: 100%;
}

.project_img {
    height: 100%;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
}

.project_description {
    background-color: rgb(196, 196, 196);
    height: 20%;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.text_in_project {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
}

.project_type_text {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}



.project_name_text {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    align-items:flex-end;
}

.text_data {
    text-align: center;
    margin: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.project_data_block {
    width: 25%;
    height: 100%;
}

.indent_no_first {
    margin-top: 20px;
}

.project_block_description {
    height: 100%;
    width: 100%;
}



.jopa {
    text-align: center;
    height: 100%;
}

@media screen and (max-width: 1300px) {
    .project_block {
        width: 225px;
        height: 255px;
    }
}

@media screen and (max-width: 1000px)  {
    .project_block {
        width: 200px;
        height: 230px;
    }

    .project_name_text {
        font-size: 14px;
    }

    .project_type_text {
        font-size: 14px;
    }

    .text_data {
        font-size: 14px;
    }

}



@media screen and (min-width: 1700px) and (min-height: 500px) {
    #content_container{
        width: 60%;
    }
    .project_block {
        width: 315px;
        height: 355px;
    }
    .project_name_text {
        font-size: 24px;
    }

    .project_type_text {
        font-size: 24px;
    }

    .text_data {
        font-size: 24px;
    }
}

@media screen and (max-width: 1000px) and (max-height: 900px)  {
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #content_container{
    }
    .project_block {
        width: 300px;
        height: 335px;
    }
    .project_name_text {
        font-size: 24px;
    }

    .project_type_text {
        font-size: 24px;
    }

    .text_data {
        font-size: 24px;
    }
}

@media screen and (min-width: 2000px) and (min-height: 1000px)  {
    #content_container{
    }
    .project_block {
        width: 515px;
        height: 535px;
    }
    .project_name_text {
        font-size: 34px;
    }

    .project_type_text {
        font-size: 34px;
    }

    .text_data {
        font-size: 34px;
    }
}

