body {
    background-color: rgb(44, 50, 72);
}
div{
    border: 2px solid red;
}

nav ul {
    list-style: none;
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin-right: 0;
}
nav ul li a{
    color:rgb(255, 255, 255); ;
    font-size: 20px;
    margin-right: 1em;
    text-decoration: none;
}

#info-about > ul{
    margin-left: 0; 
    padding-left: 0;
}
#info-about > ul li {
    color: rgb(167, 171, 183);
    font-size: 24px;
    margin-bottom: 1em;
    list-style-type: none;
}

#no-nav{
    margin-top: 165px;
}

#about {
    display: flex;
}

#about-right{
    width: 100%;
    display: flexbox;
    margin-left: 40px;
}

#about-left{
    width: 60%;
}

#hello {
    font-size: 36px;
    color: rgb(167, 171, 183);
    margin-bottom: 9px;
}

h1 {
    font-size: 48px;
    color: rgb(255, 255, 255);
    margin-top: 9px;
}

#Icon-Contact > ul{
    list-style-type: none;
    display: inline;
}

#Icon-Contact > ul > li {
    list-style-type: none;
    display: inline;
    margin-right: 50px;
}

#Icon-Contact > ul > li > img{
    width: 50px;
    height: 50px;
}

#Contact-Text{
    font-size: 32px;
    color: rgb(167, 171, 183);
    margin-top: 0%;
}

#photo-men{
    width: 100%;
    height: 100%;
}

.rectangle{
    /*background-color: linear-gradient(rgb(106, 124, 174),rgb(106, 124, 174)) ;
    background: rgb(106, 124, 174);*/
    background: rgb(106,124,174);
background: linear-gradient(180deg, rgba(106,124,174,1) 0%, rgba(106,124,174,0.14329481792717091) 100%);
}

#rectangle-min{
    width: 28px;
    height: 100%;
    margin-left: 49px;
}

#rectangle-average{
    width: 81px;
    height: 100%;
    margin-left: 32px;
}

#rectangle-max{
    width: 220px;
    height: 100%;
    margin-left: 32px;
}
table{
    height: 100%;
}