html {
    height: 100%;
}

body {
    height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
}

.page {
    height: 100%;
    width: 100px;
}

body {
    background-color: rgb(44, 50, 72);
}

#container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    /* border: 2px solid green;*/
}

#about {
    height: 100%;

    /* border: 2px solid wheat;*/
}

/*div {
    border: 2px solid red;
}*/

nav ul {
    list-style: none;
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin-right: 0;
}

nav ul li a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-right: 1em;
    text-decoration: none;
}

.rectagle_horizontal {
    width: 92px;
    height: 2px;
    background-color: white;
    margin-top: 15px;
}

#info-about_text {
    margin-top: 15px;
}

#info-about>ul {
    margin-left: 0;
    padding-left: 0;
}

#info-about>ul li {
    color: rgb(167, 171, 183);
    font-size: 32px;
    margin-bottom: 1em;
    list-style-type: none;
}

#no-nav {
    margin-top: 165px;
}

#about {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

#no-navы {
    height: 100%;
    padding-left: 50px;
}

#about-right {
    width: 50%;
    display: flexbox;
    height: 100%;
    border-color: black;
}

#about_left {
    width: 50%;

}

#about-left {

    margin-left: 0px;
    height: 100%;
    border-color: 1px yellow;
}

#greetings {
    margin-top: 50px;
}


#hello {
    font-size: 36px;
    color: rgb(167, 171, 183);
    margin-bottom: 9px;
}

#text_i {
    font-size: 48px;
    color: rgb(255, 255, 255);
    margin-top: 9px;
    margin-bottom: 20px;
}

#Contact-Me {
    margin-top: 15px;
    height: 100%;
}

#Icon-Contact {
    margin-left: 0px;
}

#icon_table {
    margin-left: 0px;
    margin: 0px;
}

#Icon-Contact>ul {
    list-style-type: none;
    display: inline;
    margin-left: 0px;
    padding-left: 15px;
}

#Icon-Contact>ul>li {
    list-style-type: none;
    display: inline;
    margin-right: 50px;
    margin-left: 0px;
}

#Icon-Contact>ul>li>img {
    width: 90px;
    height: 90px;
}

#Contact-Text {
    margin: 15px 0px 15px 0px !important;
    font-size: 42px;
    color: rgb(167, 171, 183);
}

#photo-men {
    /*  width: 100%;
    height: 100%;*/
    /*   width: 317px;
    height: 450px;*/
    width: 65%;
    height: 80%;
}

#infoi {
    width: 100%;
    height: 100%;
}



.rectangle {
    /*background-color: linear-gradient(rgb(106, 124, 174),rgb(106, 124, 174)) ;
    background: rgb(106, 124, 174);*/
    background: rgb(106, 124, 174);
    background: linear-gradient(180deg, rgba(106, 124, 174, 1) 0%, rgba(106, 124, 174, 0.14329481792717091) 100%);
}

#rectangle-min {
    width: 80px;
    height: 100%;
    margin-left: 30px;
}

#rectangle-average {
    width: 150px;
    height: 100%;
    margin-left: 50px;
}

#rectangle-max {
    width: 320px;
    height: 100%;
    margin-left: 70px;
}

table {
    height: 100%;
}

#col-md-9 a.active {
    color: #654321;
}

#main_window_nav {
    text-decoration-line: underline !important;
    text-decoration: 3px solid #FFFFFF;
    text-underline-offset: 10px;
    margin-bottom: 10px;
}

#stickers_my_photo__abot_left {
    position: relative;
    height: 100%;
}

.sticker__div {
    height: 100px;
    width: 100px;

}

.about_sticker {
    position: absolute;
}

#circle_img {
    position: relative;
    top: 100px;
    left: 300px;
    height: 300px;
    width: 300px;
    -webkit-animation: circle_anim 12s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
    animation: circle_anim 12s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
    /* position: absolute;
    top: 20 !important;
    left: 100 !important;*/
    /* animation: float2 70s ease infinite;
    z-index: 1;
    eight: 200px;
    width: 200px;h*/
}

@-webkit-keyframes circle_anim {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }

    100% {
        -webkit-transform: translateY(-100px) translateX(-100px);
        transform: translateY(-100px) translateX(-100px);
    }
}

@keyframes circle_anim {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }

    100% {
        -webkit-transform: translateY(-100px) translateX(-100px);
        transform: translateY(-100px) translateX(-100px);
    }
}


#square_img {
    /*animation: float2 70s ease infinite;*/
    /*z-index: 2;*/
    height: 400px;
    width: 300px;
    z-index: -1;
    -webkit-animation: square_anim 12s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
    animation: square_anim 12scubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;

}

@-webkit-keyframes square_anim {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }

    100% {
        -webkit-transform: translateY(-100px) translateX(100px);
        transform: translateY(-100px) translateX(100px);
    }
}

@keyframes square_anim {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }

    100% {
        -webkit-transform: translateY(-100px) translateX(100px);
        transform: translateY(-100px) translateX(100px);
    }
}


#triangle_img {
    -webkit-animation: triangle_anim 12s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
    animation: triangle_anim 12s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
    height: 320px;
    width: 320px;
    top: 300px;
    left: 300px;
}

@-webkit-keyframes triangle_anim {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}

@keyframes triangle_anim {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}


@media screen and (max-width: 1400px) {
    #Icon-Contact>ul>li>img {
        width: 70px;
        height: 70px;
    }
}